.nav_brand {
  font-size: 30px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: map-get($map: $main-theme, $key: brand);
  transition: filter .4s ease-in-out;
}

.brand {
  filter: map-get($map: $main-theme, $key: esp-brand-drop-shadow);
}