.button {
    display: flex;
    height: 50px;
    width: 200px;
    gap: 10px;
    font-weight: bold;
    font-size: large;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: map-get($map: $button, $key: button-bg);
    border-style: solid;
    border-color: map-get($map: $button, $key: button-border);
    border-radius: 5px;
    color: map-get($map: $button, $key: button-color);
    text-decoration: none;
    cursor: pointer;
    img{
        width: 30px;
    }

    transition: filter .1s ease-in-out;

    &:hover {
        filter: map-get($map: $main-theme, $key: drop-shadow)
    }
}

.info__button {
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: map-get($map: $default-card, $key: card-info-button-bg);
    border-color: map-get($map: $default-card, $key: card-info-button-border);
    img {
        width: 8px !important;
        border-radius: 0 !important;
    }
}

.buy_credit_card__button {
    border-color: map-get($map: $buy-button, $key: button-border);
    color: map-get($map: $buy-button, $key: button-color);
    &:hover {
        filter: map-get($map: $buy-button, $key: drop-shadow)
    }
}