.list_container {
  display: flex;
  min-height: 400px;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin: 0px 0 25px 0;
    font-size: 35px;
    color: map-get($map: $main-theme, $key: titles);
    width: 80%;
    align-self: center;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-height: 200px;
    gap: 1rem;
    justify-content: start;
    align-self: center;
  }
}
