@import url(https://fonts.googleapis.com/css?family=Russo+One:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

html {
    font-family: Roboto;
    scroll-behavior: smooth;
    .brand, .nav_brand, .title{
        font-family: 'Russo One';
    }
    * {
        -webkit-user-drag: none;
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: map-get($map: $main-theme, $key: body);
}


.line {
    @include line(50px);
}