header {
    position:sticky;
    top: 0;
    background-color: map-get($map: $main-theme ,$key: header);
    z-index: 200;
    nav {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            display: flex;
            align-self: center;
            gap: 15px;
        }
        .options {
            padding-left: 20px;
        }
    }
}