/*
    UTILS
*/
@import './utils/mixin';
@import './utils/variables';
@import './utils/globals';
/*
    COMPONENTS
*/
@import './components/brand';
@import './components/buttons';
@import './components/card';
@import './components/cart-widget';
@import './components/categories-box';
@import './components/list-container';
@import './components/loading-screen';
@import './components/item-detail';
@import './components/newsletter';
@import './components/welcome';
@import './components/cart';
/*
    LAYOUT
*/
@import './layout/header';
/*
    VIEWS
*/
@import './views/landing';
